<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/af524562-8a38-4d55-a3e1-0954a8968f48/resourceGroups/group7/providers/Microsoft.Web/sites/Firstprojectgroup7</ResourceId>
    <ResourceGroup>group7</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://firstprojectgroup7.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://firstprojectgroup7.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$Firstprojectgroup7</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>